#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 15px;
}
#main_row {
	background-color: white;
	padding: 15px;
	width: 100%;
	position: relative;
}
#mr_left {
	background-color: orange;
	color: white;
	text-align: center;
	padding: 15px;
	width: 20%;
	position: relative;
}
#mr_center {
	background-color: white;
	text-align: center;
	padding: 15px;
	width: 65%;
	position: relative;
}
#mr_right {
	background-color: gray;
	color: white;
	text-align: center;
	padding: 15px;
	width: 15%;
	position: relative;
}
.xxx {
	display: inline;
	height: 50px;
}

/* Nieodwiedzony link */
a:link {
	
}

/* Odwiedzony link */
a:visited {
	
}

/* Link po najechaniu kursorem*/
a:hover {
	
}

