@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body { font-family: 'Roboto', sans-serif; }

#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 15px;
}
#main-row {
	background-color: white;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
#mr-left {
	background-color: orange;
	color: white;
	width: 15%;
}
#mr-center {
	background-color: white;
	padding: 2%;
	width: 66%;
}
#mr-right {
	background-color: gray;
	color: white;
	width: 15%;
}
#footer {
	background-color: blue;
	color: white;
	text-align: center;
	position: relative;
}
#st {
	position: fixed;
}
.xxx {
	height: auto;
	position: relative;
}

a {
	text-decoration: none;
	color: #FFD0FF;
}
/* Nieodwiedzony link */
a:link {
	
}

/* Odwiedzony link */
a:visited {
	
}

/* Link po najechaniu kursorem*/
a:hover {
	
}

